.x {
  height: 10vh;
  width: 10vh;
  background-color: grey;
  border-radius: 3px;
}

.alive {
  background-color: hotpink;
  border-radius: 3px;

}

.start {
  background-color: hotpink;
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  height: 100px;
  width: 200px;
  border: solid black 2px;
  border-radius: 5px
}

@media (max-width: 600px) {
  .x {
    height: 30px;
    width: 30px
  }
}
